* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}

body {
    display: flex;
    background-color: rgb(251, 228, 247);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

.content {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    color: white;
    font-weight: 800;
    font-size: 20px;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 3px solid #0c0101;
    background-color: rgb(84, 50, 77);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.container {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    color: black;
    background-color: rgb(255, 253, 254);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: none;
    /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
}

.btn:hover {
    background-color: rgb(48, 111, 212);
    color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}


.active {
    background-color: rgb(48, 111, 212);
    color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}


@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 12px;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .btn {
        font-size: 16px;
        padding: 6px 12px;
    }

    .card {
        font-size: 18px;
        padding: 20px;
    }
}
